        togglePassword.setAttribute("title", "Mostrar contraseña");
      }
        // Cambiar el ícono
        if (currentType === "text") {
          toggleIcon.classList.remove("fa-eye-slash");
          toggleIcon.classList.add("fa-eye");
          togglePassword.setAttribute("title", "Ocultar contraseña");
        } else {
          toggleIcon.classList.remove("fa-eye");
          toggleIcon.classList.add("fa-eye-slash");
          togglePassword.setAttribute("title", "Mostrar contraseña");
        }
      });
    });
  });
</script>
  </script>

</body>
</html>
</html>